a {
    color: #58A0C1;
}

a:hover {
    color: #427891;
}

#navigation a {
    color:#2c5061;
}

* {
    font-size: 16px;
    color: #64676c;
    line-height: 1.6;
}

strong {
    color:#030431;
}

table thead, table tbody{
    text-align: center;
}

#confirm-appointment {
    padding-top: 200px;
    padding-bottom: 400px;
    text-align: center;
}
#confirm-appointment .nice-select{
    left: 47%;
    position: absolute;
}
#confirm-appointment .btn {
    margin-top:20px;
}
#confirm-appointment label {
    margin:20px 0px;
}
#confirm-appointment .name{
    font-size: 2em;
    margin-top:20px;
    display: block;
}

.logout {
    display: inline-block;
}

.logout button:hover{
    cursor: pointer;
}

.logout button {
    border:none;
    background-color: transparent;
    color: #102039;
    font-weight: 600;
    padding: 39px 27px;
    display: block;
    font-size: 16px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-transform: capitalize;
    position: relative;
    font-family: "Muli",sans-serif;
}
